# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[gcode_macro  _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN_ZCOLOR SLOT={t+1} NAPR=0 NOCOLOR=1

# Включаем обогрев камеры
[gcode_macro _T_HEATER]
gcode:
    {% set temp = params.TEMP|default(50)|int %}

    {% if temp != 0 %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.900
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.300
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}
    {% else %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.000
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.000
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% endif %}

[gcode_macro _A_CHANGE_FILAMENT]
gcode:
    {% set t  = params.T| int %}
    {% set t_cur = printer['zmod_color'].active_tool_id | default(-1) | int %}

    {% if t_cur == t %}
        RESPOND PREFIX="info" MSG="T{t} == Current T{t_cur}. Skip..."
    {% else %}
        M400
        M114

        {% set x = printer.gcode_move.gcode_position.x %}
        {% set y = printer.gcode_move.gcode_position.y %}
        {% set z = printer.gcode_move.gcode_position.z %}
        {% set e = printer.gcode_move.gcode_position.e %}
        {% set speed = printer.gcode_move.speed | int %}

        SDCARD_SET_PAUSE_STATE X={x} Y={y} Z={z} E={e} SPEED={speed}

        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_x VALUE={x}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_y VALUE={y}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_z VALUE={z}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_e VALUE={e}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_speed VALUE={speed}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=t VALUE={t}

        {% if "z" in printer.toolhead.homed_axes and printer.gcode_move.gcode_position.z + 5 <= 256 %}
            SAVE_GCODE_STATE NAME=a_change_filament
                G91
                G1 Z5 F3000
                M400
                RESPOND PREFIX="//" MSG="Abbassamento del letto di 5 mm"
            RESTORE_GCODE_STATE MOVE=0 NAME=a_change_filament
        {% endif %}

        _T_CHANGE_FILAMENT T={t}
    {% endif %}

[gcode_macro _B_CHANGE_FILAMENT]
variable_restore_x: 0
variable_restore_y: 0
variable_restore_z: 0
variable_restore_e: 0
variable_restore_speed: 0
variable_t: -1
gcode:
    {% if t != -1 %}
        _DISABLE_SENSOR

            _T_IN T={t}

        _ENABLE_SENSOR

        M400
        SAVE_GCODE_STATE NAME=b_change_filament
            G90
            {% if printer.gcode_move.gcode_position.x > 256 %}
                G1 X256 F30000
            {% endif %}
            {% if printer.gcode_move.gcode_position.y > 256 %}
                G1 Y256 F30000
            {% endif %}
            M400

            G1 X{restore_x} Y{restore_y} F30000
            M400

            G1 Z{restore_z} F500
            M400
        RESTORE_GCODE_STATE MOVE=0 NAME=b_change_filament

        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=t VALUE=-1

        G92 E{restore_e}
        G1 F{restore_speed}

        SAVE_GCODE_STATE NAME=PAUSE_STATE
        M114
        SDCARD_CLEAR_REFUELLING
        RESPOND PREFIX="info" MSG="End T{t}"
    {% endif %}

[gcode_macro _PAUSE_MACRO]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0

    SET_GCODE_VARIABLE MACRO=_RESUME_MACRO VARIABLE=fm_ex0 VALUE={1 if printer["filament_motion_sensor fm_ex0"].enabled else 0}
    SET_GCODE_VARIABLE MACRO=_RESUME_MACRO VARIABLE=fm_ex1 VALUE={1 if printer["filament_motion_sensor fm_ex1"].enabled else 0}
    SET_GCODE_VARIABLE MACRO=_RESUME_MACRO VARIABLE=fm_ex2 VALUE={1 if printer["filament_motion_sensor fm_ex2"].enabled else 0}
    SET_GCODE_VARIABLE MACRO=_RESUME_MACRO VARIABLE=fm_ex3 VALUE={1 if printer["filament_motion_sensor fm_ex3"].enabled else 0}

    _DISABLE_SENSOR

[gcode_macro _RESUME_MACRO]
variable_fm_ex0: 0
variable_fm_ex1: 0
variable_fm_ex2: 0
variable_fm_ex3: 0
gcode:
    {% set t = printer['gcode_macro RESUME'].last_extruder_temp.get('t', -1) %}

    RESPOND PREFIX="info" MSG="_RESUME_MACRO T{t}"
    {% if t >= 0 and t <= 3 %}
        _T_IN T={t}
    {% else %}
        _T_OUT
    {% endif %}

    {% if fm_ex0 == 1 %}
        RESET_FILAMENT_SENSOR SENSOR=fm_ex0
        _SET_FILAMENT_SENSOR SENSOR=fm_ex0 ENABLE=1
    {% endif %}
    {% if fm_ex1 == 1 %}
        RESET_FILAMENT_SENSOR SENSOR=fm_ex1
        _SET_FILAMENT_SENSOR SENSOR=fm_ex1 ENABLE=1
    {% endif %}
    {% if fm_ex2 == 1 %}
        RESET_FILAMENT_SENSOR SENSOR=fm_ex2
        _SET_FILAMENT_SENSOR SENSOR=fm_ex2 ENABLE=1
    {% endif %}
    {% if fm_ex3 == 1 %}
        RESET_FILAMENT_SENSOR SENSOR=fm_ex3
        _SET_FILAMENT_SENSOR SENSOR=fm_ex3 ENABLE=1
    {% endif %}

    M400

[gcode_macro _DISABLE_SENSOR]
gcode:
    _SET_FILAMENT_SENSOR SENSOR=fm_ex0 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex1 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex2 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex3 ENABLE=0

[gcode_macro _ENABLE_SENSOR]
gcode:
    {% set t = printer['zmod_color'].active_tool_id | default(-1) | int %}

    {% if t >= 0 and t <= 4 %}
        RESET_FILAMENT_SENSOR SENSOR=fm_ex{t}
        _SET_FILAMENT_SENSOR SENSOR=fm_ex{t} ENABLE=1
    {% endif %}

[gcode_macro _PRINT_MOTION]
gcode:
    {% set t  = params.T| int %}

    RESPOND TYPE=error MSG="Filamento o blocco T{t}"
    RESPOND PREFIX=tgalarm_photo MSG="Filamento o blocco T{t}"
    _NOTIFY MSG="Filamento o blocco T{t}" TYPE=filament

    PAUSE

[filament_motion_sensor fm_ex0]
runout_gcode:
     _PRINT_MOTION T=0
insert_gcode:
     { action_respond_info("wheel insert:T0") }

[filament_motion_sensor fm_ex1]
runout_gcode:
     _PRINT_MOTION T=1
insert_gcode:
     { action_respond_info("wheel insert:T1") }

[filament_motion_sensor fm_ex2]
runout_gcode:
     _PRINT_MOTION T=2
insert_gcode:
     { action_respond_info("wheel insert:T2") }

[filament_motion_sensor fm_ex3]
runout_gcode:
     _PRINT_MOTION T=3
insert_gcode:
     { action_respond_info("wheel insert:T3") }
