# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[delayed_gcode _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN T={t}

    G1 X250 F12000
    G1 Y255.500 F24000
    G1 X273.000 F2400
    M400

# Включаем обогрев камеры
[gcode_macro _T_HEATER ]
gcode:
    {% set temp = params.TEMP|default(50)|int %}

    {% if temp != 0 %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.900
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.300
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}
    {% else %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.000
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.000
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% endif %}
