# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[gcode_macro  _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN_ZCOLOR SLOT={t+1} NAPR=0 NOCOLOR=1

# Включаем обогрев камеры
[gcode_macro _T_HEATER ]
gcode:
    {% set temp = params.TEMP|default(50)|int %}

    {% if temp != 0 %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.900
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.300
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}
    {% else %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.000
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.000
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% endif %}

[gcode_macro _A_CHANGE_FILAMENT]
gcode:
    {% set t  = params.T| int %}

    RESPOND PREFIX="info" MSG="T{t}"

    SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_x VALUE={printer.gcode_move.gcode_position.x}
    SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_y VALUE={printer.gcode_move.gcode_position.y}
    SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_z VALUE={printer.gcode_move.gcode_position.z}

    M400
    SAVE_GCODE_STATE NAME=a_change_filament
    {% if "z" in printer.toolhead.homed_axes and printer.gcode_move.gcode_position.z + 5 <= 256 %}
        G91
        G1 Z5 F3000
        M400
        RESPOND PREFIX="//" MSG="Das Bett wird um 5 mm abgesenkt"
    {% endif %}
    RESTORE_GCODE_STATE MOVE=0 NAME=a_change_filament
    M400

    _B_CHANGE_FILAMENT T={t}

[gcode_macro _B_CHANGE_FILAMENT]
variable_restore_x: -100
variable_restore_y: -100
variable_restore_z: -100
gcode:
    {% set t  = params.T| int %}

    SET_FILAMENT_SENSOR SENSOR=fm_ex0 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=fm_ex1 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=fm_ex2 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=fm_ex3 ENABLE=0

    _T_IN T={t}

    RESET_FILAMENT_SENSOR SENSOR=fm_ex{t}
    SET_FILAMENT_SENSOR SENSOR=fm_ex{t} ENABLE=1

    SAVE_GCODE_STATE NAME=b_change_filament
        G90
        {% if printer.gcode_move.gcode_position.x > 256 %}
            G1 X256 F30000
        {% endif %}
        {% if printer.gcode_move.gcode_position.y > 256 %}
            G1 Y256 F30000
        {% endif %}
        M400
        G1 X{restore_x} Y{restore_y} F30000
        M400
        G1 Z{restore_z} F6000
        M400
    RESTORE_GCODE_STATE MOVE=0 NAME=b_change_filament

    SDCARD_CLEAR_REFUELLING
