# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[delayed_gcode _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN T={t}
