# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[gcode_macro  _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN_ZCOLOR SLOT={t+1} NAPR=0 NOCOLOR=1

# Включаем обогрев камеры
[gcode_macro _T_HEATER ]
gcode:
    {% set temp = params.TEMP|default(50)|int %}

    {% if temp != 0 %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.900
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.300
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}
    {% else %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.000
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.000
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% endif %}

[gcode_macro _T_OUT_ZCOLOR]
gcode:
    RESPOND TYPE=command MSG=action:prompt_end
    _G28
    _T_OUT HEATER_OFF=1
    COLOR
