# (C) 2026 ghzserg https://zmod.link/

[include base_display_off.cfg]
[include c5pro_config_off.cfg]

[zmod_color]
display: False

[gcode_macro  _T_USE]
gcode:
    {% set t = params.T|default(0)|int %}

    _T_IN_ZCOLOR SLOT={t+1} NAPR=0 NOCOLOR=1

# Включаем обогрев камеры
[gcode_macro _T_HEATER]
gcode:
    {% set temp = params.TEMP|default(50)|int %}

    {% if temp != 0 %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.900
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.300
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}
    {% else %}
        SET_FAN_SPEED FAN=chamber_heat_fan SPEED=0.000
        SET_FAN_SPEED FAN=chamber_loop_fan SPEED=0.000
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
    {% endif %}

[gcode_macro _A_CHANGE_FILAMENT]
gcode:
    {% set t  = params.T| int %}
    {% set heat = params.HEAT| default(0) |int %}

    {% set t_cur = printer['zmod_color'].active_tool_id | default(-1) | int %}

    {% if t_cur == t %}
        RESPOND PREFIX="info" MSG="T{t} == Current T{t_cur}. Skip..."
        SDCARD_CLEAR_REFUELLING
    {% else %}
        M400
        M114

        {% if heat == 1 and t_cur >= 0 and t_cur <= 3 %}
            {% set heater = "extruder" if t_cur == 0 else "extruder" ~ t_cur %}
            {% set temp = printer[heater].target %}
            M104 S0 T{t_cur}
            M104 S{temp} T{t}

            RESPOND PREFIX="info" MSG="T{t_cur} => 0. T{t} => {temp}"
        {% else %}
            {% set temp = 0 %}
        {% endif %}

        {% set x = printer.gcode_move.gcode_position.x %}
        {% set y = printer.gcode_move.gcode_position.y %}
        {% set z = printer.gcode_move.gcode_position.z %}
        {% set e = printer.gcode_move.gcode_position.e %}
        {% set speed = printer.gcode_move.speed | int %}

        SDCARD_SET_PAUSE_STATE X={x} Y={y} Z={z} E={e} SPEED={speed}

        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_x VALUE={x}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_y VALUE={y}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_z VALUE={z}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_e VALUE={e}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=restore_speed VALUE={speed}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=t VALUE={t}
        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=temp VALUE={temp}

        {% if "z" in printer.toolhead.homed_axes and printer.gcode_move.gcode_position.z + 5 <= 256 %}
            SAVE_GCODE_STATE NAME=a_change_filament
                G91
                G1 Z5 F3000
                M400
                RESPOND PREFIX="//" MSG="Abaixar a mesa 5 mm"
            RESTORE_GCODE_STATE MOVE=0 NAME=a_change_filament
        {% endif %}

        _T_CHANGE_FILAMENT T={t}
    {% endif %}

[gcode_macro _B_CHANGE_FILAMENT]
variable_restore_x: 0
variable_restore_y: 0
variable_restore_z: 0
variable_restore_e: 0
variable_restore_speed: 0
variable_t: -1
variable_temp: 0
gcode:
    {% if t != -1 %}
        _DISABLE_SENSOR

            _T_IN T={t}

        _ENABLE_SENSOR

        {% if temp | int != 0 %}
            _WAIT_TEMP T={t} EXTRUDER_TEMP={temp} BED_TEMP=0 FROM=_B_CHANGE_FILAMENT
        {% endif %}

        M400
        SAVE_GCODE_STATE NAME=b_change_filament
            G90
            {% if printer.gcode_move.gcode_position.x > 256 %}
                G1 X256 F30000
            {% endif %}
            {% if printer.gcode_move.gcode_position.y > 256 %}
                G1 Y256 F30000
            {% endif %}
            M400

            G1 X{restore_x} Y{restore_y} F30000
            M400

            G1 Z{restore_z} F500
            M400
        RESTORE_GCODE_STATE MOVE=0 NAME=b_change_filament

        SET_GCODE_VARIABLE MACRO=_B_CHANGE_FILAMENT VARIABLE=t VALUE=-1

        G92 E{restore_e}
        G1 F{restore_speed}

        SAVE_GCODE_STATE NAME=PAUSE_STATE
        M114
        SDCARD_CLEAR_REFUELLING
        SDCARD_SET_CHANNEL CHANNEL={t}
        RESPOND PREFIX="info" MSG="End T{t}"
    {% endif %}

[gcode_macro _PAUSE_MACRO]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder2 TARGET=0
    SET_HEATER_TEMPERATURE HEATER=extruder3 TARGET=0

    SET_FAN_SPEED FAN=fanM106 SPEED=0

    _DISABLE_SENSOR

[gcode_macro _RESUME_MACRO]
variable_fm_ex0: 0
variable_fm_ex1: 0
variable_fm_ex2: 0
variable_fm_ex3: 0
gcode:
    {% set t = printer['gcode_macro RESUME'].last_extruder_temp.get('t', -1) %}

    RESPOND PREFIX="info" MSG="_RESUME_MACRO T{t}"
    {% if t >= 0 and t <= 3 %}
        _T_IN T={t}
    {% else %}
        _T_OUT
    {% endif %}

    _ENABLE_SENSOR

    M400

[gcode_macro _DISABLE_SENSOR]
gcode:
    _SET_FILAMENT_SENSOR SENSOR=fm_ex0 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex1 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex2 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fm_ex3 ENABLE=0

    _SET_FILAMENT_SENSOR SENSOR=fd_ex0 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fd_ex1 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fd_ex2 ENABLE=0
    _SET_FILAMENT_SENSOR SENSOR=fd_ex3 ENABLE=0

[gcode_macro _ENABLE_SENSOR]
gcode:
    {% set t = printer['zmod_color'].active_tool_id | default(-1) | int %}
    {% set save_filament_sensors = printer.save_variables.variables['save_filament_sensors']|default(0) | int %}

    {% if t >= 0 and t <= 3 %}
        {% set fd_key = 'fd_ex' ~ t %}
        {% set fm_key = 'fm_ex' ~ t %}

        {% if save_filament_sensors == 1 %}
            {% set fd_ex_status = printer.save_variables.variables.get(fd_key, 1) | int %}
            {% set fm_ex_status = printer.save_variables.variables.get(fm_key, 1) | int %}
        {% else %}
            {% set fd_ex_status = 1 %}
            {% set fm_ex_status = 1 %}
        {% endif %}

        {% if fm_ex_status == 1 %}
            RESET_FILAMENT_SENSOR SENSOR={fm_key}
        {% endif %}
        _SET_FILAMENT_SENSOR SENSOR={fm_key} ENABLE={fm_ex_status}
        _SET_FILAMENT_SENSOR SENSOR={fd_key} ENABLE={fd_ex_status}
    {% endif %}

[gcode_macro _PRINT_MOTION]
gcode:
    {% set t  = params.T| default(0) |int %}
    {% set jam  = params.JAM| default(0)| int %}

    {% if jam == 1 %}
        RESPOND TYPE=error MSG="Bloqueio de filamento detetado T{t}"
        RESPOND PREFIX=tgalarm_photo MSG="Bloqueio de filamento detetado T{t}"
        _NOTIFY MSG="Bloqueio de filamento detetado T{t}" TYPE=filament

        PAUSE
    {% else %}
        RESPOND PREFIX=info MSG="Esgotamento de filamento detetado T{t}"
        RESPOND PREFIX=tgalarm_photo MSG="Esgotamento de filamento detetado T{t}"
        _NOTIFY MSG="Esgotamento de filamento detetado T{t}" TYPE=filament

        _T_FIND_ANALOG T={t}
    {% endif %}

[filament_motion_sensor fm_ex0]
runout_gcode:
     _PRINT_MOTION T=0 JAM=1
insert_gcode:
     { action_respond_info("wheel insert:T0") }

[filament_motion_sensor fm_ex1]
runout_gcode:
     _PRINT_MOTION T=1 JAM=1
insert_gcode:
     { action_respond_info("wheel insert:T1") }

[filament_motion_sensor fm_ex2]
runout_gcode:
     _PRINT_MOTION T=2 JAM=1
insert_gcode:
     { action_respond_info("wheel insert:T2") }

[filament_motion_sensor fm_ex3]
runout_gcode:
     _PRINT_MOTION T=3 JAM=1
insert_gcode:
     { action_respond_info("wheel insert:T3") }

[filament_switch_sensor fd_ex0]
runout_gcode:
     _PRINT_MOTION T=0 JAM=0

[filament_switch_sensor fd_ex1]
runout_gcode:
     _PRINT_MOTION T=1 JAM=0

[filament_switch_sensor fd_ex2]
runout_gcode:
     _PRINT_MOTION T=2 JAM=0

[filament_switch_sensor fd_ex3]
runout_gcode:
     _PRINT_MOTION T=3 JAM=0

[gcode_button topDoor]
press_gcode:
    {% if printer.print_stats.state == "printing" %}
        RESPOND TYPE=command MSG="action:prompt_end"
    {% endif %}
release_gcode:
    {% if printer.print_stats.state == "printing" %}
        _SHOW_DOOR_PROMPT MSG="A tampa superior está aberta!"
    {% endif %}

[gcode_button frontDoor]
press_gcode:
    {% if printer.print_stats.state == "printing" %}
        RESPOND TYPE=command MSG="action:prompt_end"
    {% endif %}
release_gcode:
    {% if printer.print_stats.state == "printing" %}
        _SHOW_DOOR_PROMPT MSG="A porta frontal está aberta!"
    {% endif %}

[gcode_macro _SHOW_DOOR_PROMPT]
gcode:
    {% set msg = params.MSG|default("Info") %}

    RESPOND TYPE=command MSG="action:prompt_begin Info"
    RESPOND TYPE=command MSG="action:prompt_text {msg}"
    RESPOND TYPE=command MSG="action:prompt_footer_button Ok|RESPOND TYPE=command MSG=action:prompt_end|primary"
    RESPOND TYPE=command MSG="action:prompt_show"
