# (C) 2026 ghzserg https://zmod.link/

[zmod]
c5pro: True

[zmod_color]

[save_variables]
filename: /usr/data/config/mod_data/variables.cfg

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True    ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 52.50   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 229.00  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 50.0    ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_speed_hop        : 25.0    ; z move speed in mm/s
variable_speed_move       : 300.0   ; move speed in mm/s
variable_park_at_cancel   : True    ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 52.50   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 229.00  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_use_fw_retract   : False   ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 86400   ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_switch_sensor head_switch_sensor"
variable_runout_sensor2   : "filament_motion_sensor ifs_motion_sensor"
variable_user_pause_macro : "_PAUSE_MACRO"   ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: "_RESUME_MACRO"  ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "_COMMON_END_PRINT"
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_max_x            : 256.0
variable_max_y            : 256.0
variable_min_x            : 0.0
variable_min_y            : 0.0
variable_ad5m             : False
variable_ad5x             : False
variable_c5pro            : True
variable_video            : "video67"
gcode:
    M105

# Регулировка винтов
[screws_tilt_adjust]
screw1: 30, 232.5
screw1_name: Left Rear (Base)
screw2: 30, 14
screw2_name: Left Front
screw3: 248.5, 14
screw3_name: Right Front
screw4: 248.5, 232.5
screw4_name: Right Rear
horizontal_move_z: 5
speed: 50
screw_thread: CW-M4

[delayed_gcode _initial_g28]
initial_duration: 2
gcode:
    SET_GCODE_VARIABLE MACRO=G28 VARIABLE=z VALUE=256

[gcode_macro _HOME]
gcode:
    G28.1


[gcode_macro _CLEAR1]
description: Код очистки из Orca Slicer
gcode:
    RESPOND PREFIX="info" MSG="_CLEAR1"
    G90
    M83
    G1 E-0.2 F800
    G1 Z3 F6000
    G1 X50 Y256 Z0.25 F4800
    M400

    G1 X70 E3 F900
    G1 X200 E10 F1800
    G0 Y255.6
    G1 X130 E5 F1800
    G92 E0

[gcode_macro _CLEAR2]
description: Код очистки из группы FF
gcode:
    RESPOND PREFIX="info" MSG="_CLEAR2"
    G90
    M83
    G1 E-0.2 F800
    G1 Z3 F6000
    G1 X256 Y0 Z0.2 F6000
    M400

    G1 Z0.2 F1200
    G1 E2 F800
    G1 X130 E9 F1000
    G1 X50 E12.5 F1000
    G1 E-0.2 F800
    G92 E0

[gcode_macro _CLEAR3]
description: Код очистки из группы FF 2
gcode:
    RESPOND PREFIX="info" MSG="_CLEAR3"
    G90
    M83
    G1 Z3 F6000
    G1 E-0.2 F800
    G1 X190 Y0 Z0.2 F4800
    M400

    G1 X130 E9 F1000
    G1 X50 E12.5 F1000
    G92 E0

[gcode_macro _CLEAR4]
description: Код очистки от Шрейдера справа сверху-вниз
gcode:
    RESPOND PREFIX="info" MSG="_CLEAR4"
    G90
    M83
    G1 Z3 F6000
    G1 E-1.5 F800
    G1 X256 Y151 F6000
    M400

    G1 E2 F800
    G1 Y151 Z0.2 F4800
    G1 Y71 E9 F1000
    G1 Y11 E12.5 F1000
    G92 E0

[gcode_macro _GOTO_SHAPER]
gcode:
    SET_GCODE_OFFSET X=0 Y=0 Z=0 MOVE=1 MOVE_SPEED=300 FROM=_GOTO_SHAPER
    G1 Z100 F1200
    SET_VELOCITY_LIMIT ACCEL=8000
    SET_GCODE_OFFSET X=0 Y=0 MOVE=1 MOVE_SPEED=100
    G1 X250 F30000
    G1 Y55.611
    G1 X280
    G1 X296.618 F5400
    M400
    MOTOR_GRAB
    G1 X276.618 F4800
    MOTOR_GRAB2
    G1 X250 F1500
    MOTOR_STOP
    SET_VELOCITY_LIMIT ACCEL=20000
    G1 X130 Y130 F6000
    M400

[gcode_macro _GOTO_END_SHAPER]
gcode:
    SET_VELOCITY_LIMIT ACCEL=8000
    SET_GCODE_OFFSET X=0 Y=0 MOVE=1 MOVE_SPEED=100
    G1 X250 F30000.000
    G1 Y55.611
    G1 X286.618
    G1 X296.618 F5400
    MOTOR_RELEASE
    G1 X250 F4800
    MOTOR_STOP
    SET_VELOCITY_LIMIT ACCEL=20000
    M114

[gcode_macro COLOR]
gcode:
    GET_ZCOLOR

[gcode_macro RESET_ZCOLOR]
gcode:
    RESPOND TYPE=command MSG=action:prompt_end
    CHANGE_ZCOLOR SLOT=1 HEX=FEF043 TYPE=PLA
    CHANGE_ZCOLOR SLOT=2 HEX=FFFFFF TYPE=PLA
    CHANGE_ZCOLOR SLOT=3 HEX=161616 TYPE=PLA
    CHANGE_ZCOLOR SLOT=4 HEX=F72224 TYPE=PLA

[gcode_macro _UGOL_PARK]
gcode:

[gcode_macro _FIX_G28]
gcode:

[gcode_macro _FIX_END_G28]
gcode:

[gcode_macro MYG28]
gcode:

[gcode_macro _CLEAR_TRAP]
gcode:

[gcode_macro _START_PRECLEAR]
gcode:

[gcode_macro _ORIG_CLEAR_NOZZLE]
gcode:

[gcode_macro _PRINT_CLEAR_NOZZLE]
gcode:

[gcode_macro AIR_CIRCULATION_STOP]
gcode:

[gcode_macro AIR_CIRCULATION_INTERNAL]
gcode:

[gcode_macro AIR_CIRCULATION_EXTERNAL]
gcode:

[gcode_macro AIR_CIRCULATION_STOP]
gcode:

[gcode_macro ZCONTROL_Z]
gcode:

[gcode_macro ZCONTROL_ON]
gcode:

[gcode_macro ZCONTROL_AUTO]
gcode:

[gcode_macro ZCONTROL_OFF]
gcode:

[gcode_macro LOAD_CELL_TARE]
gcode:
